body {
  background-color: black;
  font-family: Inter, serif;
}

header {
  border-bottom: 1px solid #636363;
}

.display-none {
  display: none;
}

.navbar-brand {
  text-decoration: none;
  color: white;
  font-variation-settings: "wght" 700;
  display: inline;
}

.navbar-brand:focus {
  color: white;
}

.navbar-brand:hover {
  color: white;
}

#nav-bars {
  display: inline;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

h1 {
  font-variation-settings: "wght" 700;
  margin: 0;
}

label {
  font-size: 1em;
  font-variation-settings: "wght" 500;
}

.form-control {
  outline: none;
  background-color: black;
  border: 1px solid white;
  color: rgb(156, 156, 156);
}

.form-control:focus {
  outline: none;
  background-color: black;
  border: 2px solid #5e60ce;
  box-shadow: none;
  color: white;
}

input[type="file"] {
  color: rgb(156, 156, 156);
}

input[type="text"]::placeholder {
  color: rgb(156, 156, 156);
}

.range-wrap {
  position: relative;
}

input[type="range"] {
  appearance: none;
  position: relative;
  margin: 20px 0;
  width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #5e60ce;
}

.bubble {
  background-color: #5e60ce;
  color: white;
  padding: 4px 8px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
}

.bubble::after {
  content: "";
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  border-top: 4px solid #5e60ce;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.tank-form-img {
  border-radius: 12px;
  border: 2px solid white;
  width: 100%;
  object-fit: cover;
}

button {
  padding: 8px 14px;
  background-color: #5e60ce;
  border-radius: 4px;
  outline: none;
  border: none;
  color: white;
}

.myaquariums-h1 {
  display: inline-block;
}

.fas.fa-plus {
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
}

.tank-img {
  border-radius: 12px;
  border: 2px solid white;
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.details-container {
  border-radius: 12px;
  border: 2px solid white;
  background-color: #6930c3;
  height: 200px;
  cursor: pointer;
  -ms-overflow-style: none;
  overflow-y: scroll;
  scrollbar-width: none;
}

.details-container::-webkit-scrollbar {
  display: none;
}

.details {
  margin: 1em;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.black-bg {
  background: rgb(0 0 0);
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.black-bg.bg-visible {
  visibility: visible;
  opacity: 0.7;
  z-index: 1000;
}

.sidebar {
  width: 0;
  height: 100%;
  background-color: black;
  font-family: "Open Sans", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: width 0.5s;
  white-space: nowrap;
  z-index: 1001;
}

.sidebar.sb-visible {
  width: 300px;
}

.border-b {
  border-bottom: 1.5px solid #5e60ce;
}

p.sidebar-header {
  font-size: 1.2em;
  display: inline;
}

a.sidebar-item {
  font-weight: 500;
}

.fas.fa-th-large {
  font-size: 20px;
  color: #5e60ce;
}

#sb-bars {
  display: inline-block;
  transform: rotate(90deg);
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

.details > h4 {
  display: inline-block;
}

.far.fa-edit {
  display: inline-block;
  font-size: 25px;
}

.db-tank-img {
  border-radius: 12px;
  border: 2px solid white;
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.conditions-tab {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 175px;
  background-color: #a47ce3;
  border-radius: 12px;
  border: 2px solid white;
  -ms-overflow-style: none;
  overflow-y: scroll;
  scrollbar-width: none;
}

.conditions-tab::-webkit-scrollbar {
  display: none;
}

.conditions-details {
  margin: 1em;
}

.conditions-h1 {
  font-size: 3em;
}

.conditions-details > p {
  margin: 0;
  padding-bottom: 0.3em;
}

.population-tab {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #6930c3;
  border-radius: 12px;
  border: 2px solid white;
}

.population-tab::after {
  content: "";
  display: block;
  padding-top: 100%;
}

.population-details {
  position: absolute;
  padding: 1em;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.population-h1 {
  font-size: 4em;
  margin-bottom: -0.2em;
}

.population-details-h5 {
  margin-bottom: 0;
}

.inhabitants-h1 {
  display: inline-block;
}

.circular-frame {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0.5em auto;
}

.inhabitant-form-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inhabitant-frame {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 2px solid white;
  background-color: #6930c3;
}

.inhabitant-frame::after {
  content: "";
  display: block;
  padding-top: 100%;
}

.inhabitant-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.inhabitant-details {
  margin: 1em;
}

.inhabitant-details > h4 {
  margin: 0;
}

.inhabitant-details > p {
  margin: 0;
}

.trash-icon-container {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}

.far.fa-trash-alt {
  font-size: 1.5em;
}

.modal-bg {
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1002;
}

.dialogue-box {
  background-color: black;
  border-radius: 12px;
  border: 2px solid #6930c3;
  width: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialogue-content {
  margin: 1em 1em 1.5em;
}

.dialogue-content > h5 {
  line-height: 1.5em;
  padding-bottom: 0.7em;
}

.dialogue-cancel-button {
  background-color: #adadad;
  color: black;
  display: inline-block;
  font-weight: 700;
}

.dialogue-remove-button {
  background-color: #6930c3;
  display: inline-block;
}

.bubble-ph {
  background-color: #5e60ce;
  color: white;
  padding: 4px 8px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.bubble-ph::after {
  content: "";
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  border-top: 4px solid #5e60ce;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

option {
  background-color: black;
  color: white;
}

.form-select {
  outline: none;
  background-color: black;
  border: 1px solid white;
  color: rgb(156, 156, 156);
}

.form-select:focus {
  outline: none;
  background-color: black;
  border: 2px solid #5e60ce;
  box-shadow: none;
  color: white;
}
